:root {
  /* Dracula Color Palette */
  --base00: #282a36; /* Background */
  --base01: #44475a; /* Current Line */
  --base02: #6272a4; /* Comment */
  --base03: #f8f8f2; /* Foreground */
  --base04: #8be9fd; /* Cyan */
  --base05: #50fa7b; /* Green */
  --base06: #ffb86c; /* Orange */
  --base07: #ff79c6; /* Pink */
  --base08: #bd93f9; /* Purple */
  --base09: #ff5555; /* Red */
  --base0A: #f1fa8c; /* Yellow */

  /* Typography */
  --font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size-L: 3.6rem;
  --font-size-m: 2.2rem;
  --font-size-s: 1.8rem;
  --font-size-scaler: 62.5%; /* 1rem = 10px */
  --line-height-body: 1.4;
  --line-height-heading: 1.2;

  /* Components */
  --body-color: var(--base03);
  --body-bg: var(--base00);
  --body-padding: 0 1px;
  --body-stack-gap: 32px;

  --accordion-content-hover-rail-color: var(--base04);
  --accordion-content-rail-color: var(--base01);
  --accordion-marker-color: var(--base0A);
  --accordion-marker-expanded-color: var(--base04);
  --accordion-marker-hover-color: var(--base07);
  --accordion-marker-expanded-hover-color: var(--base08);
  --accordion-rail-indent: 7px;

  --article-image-border-color: var(--base01);
  --article-image-radius: 6px;
  --article-image-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  --article-reading-time-color: var(--base02);
  --article-stack-gap: 16px;
  --article-summary-color: var(--base04);
  --article-summary-hover-color: var(--base05);
  --article-title-color: var(--base07);
  --article-title-expanded-color: var(--base08);

  --card-bg: var(--base01);
  --card-border-color: var(--base02);
  --card-padding: 2px;
  --card-radius: 8px;
  --card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --card-stack-gap: 24px;

  --daily-heading-color: var(--base04);
  --daily-heading-hover-color: var(--base0A);

  --footer-color: var(--base02);
  --footer-link-hover-color: var(--base05);

  --source-link-color: var(--base04);
  --source-link-hover-color: var(--base06);
  --source-name-color: var(--base0A);
  --source-name-hover-color: var(--base05);
}

* {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-size: var(--font-size-scaler);
}

body {
  background-color: var(--body-bg);
  font-family: var(--font-family-default);
  line-height: var(--line-height-body);
  color: var(--body-color);
  display: grid;
  padding: var(--body-padding);
  margin: 0;
  gap: var(--body-stack-gap);
}

.article-expander {
  padding: 2px 0;
}

.article-expander__title {
  color: var(--article-title-color);
  font-size: var(--font-size-m);
  line-height: var(--line-height-heading);
  font-weight: 600;
  user-select: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.article-expander[open] .article-expander__title {
  display: block;
  color: var(--article-title-expanded-color);
}
.article-expander__title::before {
  content: "•";
  color: var(--accordion-marker-color);
  display: inline-flex;
  justify-content: center;
  width: 16px;
  font-weight: 700;
  margin-right: 6px;
  font-family: monospace;
}
.article-expander[open] .article-expander__title::before {
  color: var(--accordion-marker-expanded-color);
}
.article-expander .article-expander__title:hover::before {
  content: "+";
  color: var(--accordion-marker-hover-color);
}
.article-expander[open] .article-expander__title:hover::before {
  content: "-";
  color: var(--accordion-marker-expanded-hover-color);
}

.article-image {
  display: none;
  border-radius: var(--article-image-radius);
  border: 1px solid var(--article-image-border-color);
  box-shadow: var(--article-image-shadow);
}
.article-expander[open] .article-image {
  display: block;
}

.article-summary-link {
  color: var(--article-summary-color);
  font-size: var(--font-size-m);
  text-decoration: none;
}

.article-summary-link:hover {
  color: var(--article-summary-hover-color);
  --accordion-content-rail-color: var(--accordion-content-hover-rail-color);
}

.article-summary-box-outer {
  display: block;
  padding: 6px var(--accordion-rail-indent) var(--article-stack-gap) var(--accordion-rail-indent);
}

.article-summary-box-inner {
  padding-left: 14px;
  border-left: 1px solid var(--accordion-content-rail-color);
  font-size: var(--font-size-s);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.article-reading-time {
  font-weight: 400;
  color: var(--article-reading-time-color);
  font-size: var(--font-size-s);
  white-space: nowrap;
}

.card__section {
  display: grid;
}

.daily-heading {
  display: grid;
  font-size: var(--font-size-L);
  font-weight: 700;
  margin: 0 0 4px 0;
}

.daily-heading-toggle {
  font: inherit;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 16px;
  border: none;
  background: none;
  padding: 0;
  text-align: start;
  cursor: pointer;
  color: var(--daily-heading-color);
  text-transform: uppercase;
}
.daily-heading-toggle:hover {
  color: var(--daily-heading-hover-color);
}
.daily-heading-toggle__date {
  font-size: var(--font-size-m);
}

footer {
  color: var(--footer-color);
  font-size: var(--font-size-s);
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

.footer-link {
  color: var(--footer-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--footer-link-hover-color);
  text-decoration: underline;
}


.media-object__media {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .media-object {
    grid-template: "text media" auto / 1fr auto;
  }
  .media-object__text {
    grid-area: text;
  }
  .media-object__media {
    height: 100px;
    width: auto;
    grid-area: media;
    margin-bottom: var(--article-stack-gap);
  }
}
